<!DOCTYPE html>
<html lang="ja">


  <head>
    <link rel="stylesheet" href="g2_design.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </head>


<body>
  

  <div class="entire_site">


    <h5>
      制限時間は5分になります。時間になったら、横の「次のページへ」ボタンを押してください。　　
      <a href="g2_theme1_page_2_3.html" class="btn btn-primary">次のページへ</a><br>
    </h5>


    <form id="search-form">
      <input type="text" id="query" placeholder="キヌア　ダイエット　効果">
      <input type="submit">
    </form><br>


    <div class="site_box">
      <a href="https://www.designlearn.co.jp/superfoods/superfoods-article08/" class="midashi" target="_blank">どんな効果があるの？キヌアのカロリーとダイエットの関係      </a><br>
      <p class="snip">キヌアであれば主食の代わりに食べても低カロリーで脂肪にも変わりにくいため、ダイエットには最適<br>
        です。 キヌアを摂取するときには、一日20グラム程度を目安にしましょう ...</p>
    </div>

    <div class="reliability_box">
      <div class="site_hover">
        <img src="stop.png">  <!-- ここのみ変更 -->
        <div class="hover-text">
          正確性 : 4 <br>
          権威 : 3 <br>
          網羅性 : 3 <br>
          <font color="red"> 情報鮮度 : ？ </font><br>
          客観性 : 3 <br>
          信用性 : 5 <br>
          専門性 : 4
        </div>
      </div>
      <div class="result_reliability">
        <a href="https://www.g-veggie.com/post/v-4-b" class="midashi" target="_blank">ダイエットにおススメ！「キヌア」の特徴から栄養素      </a><br>
        <p class="snip">2024/06/11 — 食物繊維は糖の吸収を抑える効果もあるため、ダイエットにも効果的です。 ... 栄養価が<br>
        高くて、栄養バランスも良く、ダイエット効果もあるキヌアは、世界で ...</p>
      </div>
    </div>

    <div class="reliability_box">
      <div class="site_hover">
        <img src="trust.png">  <!-- ここのみ変更 -->
        <div class="hover-text">
          正確性 : 4 <br>
          権威 : 3 <br>
          網羅性 : 5 <br>
          情報鮮度 : 4 <br>
          客観性 : 4 <br>
          信用性 : 3 <br>
          専門性 : 4
        </div>
      </div>
      <div class="result_reliability">
        <a href="https://fitmap.jp/magazine/diet/172907/" class="midashi" target="_blank">キヌアは痩せる?太る?ダイエット効果をカロリー・栄養素から ...      </a><br>
        <p class="snip">キヌアは、白米と比べて半分以下のカロリーと糖質で、血糖値の上昇が緩やかな低GI食品のダイエット<br>
          に適した食材です。 必須アミノ酸、カリウム、カルシウム、葉酸などの ...</p>
    </div>
  </div>

    <div class="site_box">
      <a href="https://www.taberare.com/article/blog/post-10969" class="midashi" target="_blank">南米原産のキヌアがおすすめ！健康と美容に効果的なスーパー ...      </a><br>
      <p class="snip">2024/07/25 — 抗酸化作用や免疫力向上、血糖値の安定、脳機能の改善、ダイエット効果など、多くの健        <br>
        康効果が期待されています。 ... 健康と美容に効果的なキヌア：毎日の ...      </p>
    </div>

    <div class="site_box">
      <a href="https://dietplus.jp/public/article/news/20160901-770370" class="midashi" target="_blank">26kgに成功？！】NASAも認めた「キヌア」のダイエット効果とは？      </a><br>
      <p class="snip">キヌアはGI値が低い食材です。血糖の急上昇を抑えて緩やかにする働きがあるので、糖質が脂肪になる        <br>
        ことを防いで太りにくい体質作りに役立つと言われています。また、キヌア ...      </p>
    </div>

    <div class="site_box">
      <a href="https://column.asken.jp/purpose/purpose-4900/" class="midashi" target="_blank">スーパーフード”キヌア”に秘められた効果とは！？      </a><br>
      <p class="snip">2017/05/29 — キヌアはグリセリンインデックス（GI値）が低い穀物。血糖値の急激な上昇が抑えら        <br>
        れ、糖質が体脂肪に変わりにくくなるため、ダイエット中の方にもおすすめ。      </p>
    </div>

    <div class="site_box">
      <a href="https://www.wellness-tree.com/blogs/info/quinoa-blog18" class="midashi" target="_blank">スーパーフード「キヌア」の驚くべき美容効果とは？栄養素と ...      </a><br>
      <p class="snip">キヌアはタンパク質が豊富に含まれているので、普段の主食をキヌアに置き換えるとダイエット効果が        <br>
        期待できます。 便秘の予防・改善. キヌアには、米や小麦よりも食物 ...      </p>
    </div>

    <div class="site_box">
      <a href="https://www.saraschool.net/biyosyoku/superfood/column/article02/" class="midashi" target="_blank">キヌアでダイエットするには？カロリーや栄養価について解説      </a><br>
      <p class="snip">2024/10/08 — キヌアは100グラムあたり約7グラムの食物繊維を含んでいます。 食物繊維は消化を遅く        <br>
        し、胃の中で水分を吸収して膨張するため、満腹感を長時間持続させる ...      </p>
    </div>

    <div class="reliability_box">
      <div class="site_hover">
        <img src="trust.png">  <!-- ここのみ変更 -->
        <div class="hover-text">
          正確性 : 5 <br>
          権威 : 3 <br>
          網羅性 : 4 <br>
          情報鮮度 : 4 <br>
          客観性 : 5 <br>
          信用性 : 3 <br>
          専門性 : 5
        </div>
      </div>
      <div class="result_reliability">
        <a href="https://www.womenshealthmag.com/jp/food/a35933844/quinoa-20210404/" class="midashi" target="_blank">ダイエットの味方？ キヌアの栄養・効果・食べ方・おすすめ ...      </a><br>
        <p class="snip">2021/04/04 — ダイエットの味方？ キヌアの栄養・効果・食べ方・おすすめレシピを徹底解説！ · キヌア        <br>
          とは？ · キヌアの栄養素は？ · キヌアの栄養素がもたらす効果とは？      </p>
    </div>
  </div>

    <div class="site_box">
      <a href="https://health2sync.com/ja/blog/quinoa-nutrition/" class="midashi" target="_blank">世界が注目！キヌアの栄養を大公開〜スーパー穀物と ...      </a><br>
      <p class="snip">2024/01/11 — 糖質も多く含みますが、キヌアは食後の血糖値を上げにくい食材ですから、糖尿病の方や        <br>
        ダイエット中の方にもオススメの食材です。 ただしキヌアのカロリー ...      </p>
    </div>

  </div>


</body>

</html>