<!DOCTYPE html>
<html lang="ja">


  <head>
    <link rel="stylesheet" href="g2_design.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </head>


<body>
  

  <div class="entire_site">


    <h5>
      5分が経過したらお声掛けいたします。<br>
      その後、横の「次のページへ」ボタンを押してください。　　
      <a href="g2_page_2_3.html" class="btn btn-primary">次のページへ</a><br>
    </h5>


    <form id="search-form">
      <input type="text" id="query" placeholder="オリゴ糖　砂糖　違い">
      <input type="submit">
    </form><br>


    <div class="site_box">
      <a href="https://www.pearlace.co.jp/know-and-fun/tips/post-99.html" class="midashi" target="_blank">オリゴ糖は砂糖の代わりに料理に使えるの？
      </a><br>
      <p class="snip">レシピで砂糖を使用する料理に、市販のほとんどのオリゴ糖は砂糖の代わりに使<br>
        えます。しかし、オリゴ糖といってもいろいろな種類が市販されていて、 ...</p>
    </div>

    <div class="site_box">
      <a href="http://www.kousyo.com/wp/2022/08/05/oligo_demerit/" class="midashi" target="_blank">オリゴ糖のデメリットとは？砂糖をオリゴ糖に置き換えるメリット ...
      </a><br>
      <p class="snip">カロリーの違い ... オリゴ糖は砂糖と比べて低カロリーです。 100ℊあたりのカロ<br>
        リーを比較してみると、砂糖が391kcal（日本食品標準成分表 八訂より) なのに ...</p>
    </div>

    <div class="reliability_box">
      <div class="site_hover">
        <img src="trust.png">  <!-- ここのみ変更 -->
        <div class="hover-text">
          正確性 : 4 <br>
          権威 : 4 <br>
          網羅性 : 4 <br>
          情報鮮度 : 5 <br>
          客観性 : 5 <br>
          信用性 : 5 <br>
          専門性 : 2
        </div>
      </div>
      <div class="result_reliability">
        <a href="https://uchilife.actlever.co.jp/oligo-sugger/" class="midashi" target="_blank">オリゴ糖と砂糖の違いは？健康効果とダイエットへの影響も比較
        </a><br>
        <p class="snip">また、オリゴ糖は主に甘みの強さが違い、砂糖はミネラルの含有量や血糖値の上<br>
          昇率に大きな違いがあります。</p>
      </div>
    </div>

    <div class="reliability_box">
      <div class="site_hover">
        <img src="trust.png">  <!-- ここのみ変更 -->
        <div class="hover-text">
          正確性 : 4 <br>
          権威 : 4 <br>
          網羅性 : 3 <br>
          情報鮮度 : 5 <br>
          客観性 : 4 <br>
          信用性 : 5 <br>
          専門性 : 5
        </div>
      </div>
      <div class="result_reliability">
        <a href="https://news.yahoo.co.jp/articles/15a7824d4d5a07c5e778d3def94f3ad6f665b80e" class="midashi" target="_blank">【オリゴ糖の効果って？】砂糖との違いやメリットを専門家が ...
        </a><br>
        <p class="snip">オリゴ糖は、2～10個の単糖が繋がっているものをさし、砂糖との違いはその結<br>
        びつきのみ。オリゴ糖は一般的に“砂糖の代用品”というイメージが強いかもしれ ...</p>
      </div>
    </div>

    <div class="reliability_box">
      <div class="site_hover">
        <img src="stop.png">  <!-- ここのみ変更 -->
        <div class="hover-text">
          正確性 : 3 <br>
          権威 : 3 <br>
          網羅性 : 2 <br>
          <font color="red">情報鮮度 : ? </font><br>
          客観性 : 3 <br>
          信用性 : 5 <br>
          専門性 : 2
        </div>
      </div>
      <div class="result_reliability">
        <a href="https://melos.media/wellness/138644/" class="midashi" target="_blank">「オリゴ糖 vs 砂糖」、太りにくいのはどっち？違いを解説 ...
        </a><br>
        <p class="snip">分類で言うと白砂糖は主成分がショ糖ですので、砂糖は消化性のオリゴ糖の一種<br>
        となります。 【対決】 ...</p>
      </div>
    </div>

    <div class="site_box">
      <a href="https://nosh.jp/magazine/health/7176/" class="midashi" target="_blank">オリゴ糖にデメリットはある？健康効果やうまく活用する方法も ...
      </a><br>
      <p class="snip">砂糖や乳糖は単糖が2つ結びついてできています。よって、砂糖や乳糖もオリゴ<br>
        糖の仲間といえます。 しかし単糖が3つ以上結びついたオリゴ糖の多く ...</p>
    </div>

    <div class="reliability_box">
      <div class="site_hover">
        <img src="trust.png">  <!-- ここのみ変更 -->
        <div class="hover-text">
          正確性 : 5 <br>
          権威 : 4 <br>
          網羅性 : 4 <br>
          情報鮮度 : 4 <br>
          客観性 : 4 <br>
          信用性 : 4 <br>
          専門性 : 5
        </div>
      </div>
      <div class="result_reliability">
        <a href="https://www.kanro.co.jp/sweeten/detail/id=3345" class="midashi" target="_blank">黒糖ときび砂糖、オリゴ糖は体に良い？？ 特徴と上手に活用 ...
        </a><br>
        <p class="snip">オリゴ糖は熱や酸に強いため、調理で加熱してもしっかりと効果を発揮してくれ<br>
        ます。煮物や炒め物などで使用する砂糖を、オリゴ糖に置き換えできます。普段 ... </p>
      </div>
    </div>

    <div class="site_box">
      <a href="https://www.pearlace.co.jp/know-and-fun/tips/post-42.html" class="midashi" target="_blank">「オリゴ糖」って何だろう？
      </a><br>
      <p class="snip">そして、ひと口に糖といっても、果物に含まれる「果糖」や脳のエネルギー源として知られる<br>
        「ブドウ糖」などさまざまな種類があり、「オリゴ糖」もそのひとつです。 オリゴ ...</p>
    </div>

    <div class="reliability_box">
      <div class="site_hover">
        <img src="trust.png">  <!-- ここのみ変更 -->
        <div class="hover-text">
          正確性 : 5 <br>
          権威 : 4 <br>
          網羅性 : 4 <br>
          情報鮮度 : 5 <br>
          客観性 : 4 <br>
          信用性 : 2 <br>
          専門性 : 5
        </div>
      </div>
      <div class="result_reliability">
        <a href="https://kawashima-ya.jp/contents/?p=49940&srsltid=AfmBOopMHKuXBBC7Jm4wF-r0ugaDnDYmZ3pmyTqiRUwu6Ntr7jH9tD7S" class="midashi" target="_blank">【一覧表】オリゴ糖はどれがいい？種類と違いを知って自分に ...
        </a><br>
        <p class="snip">安いオリゴ糖と高いオリゴ糖の違いは、原材料の質や入っているオリゴ糖の種        <br>
        類、添加物や砂糖、水分などが含まれているかいないかです。一般的に、複数の ...
        </p>
      </div>
    </div>

    <div class="site_box">
      <a href="https://hikaku.kurashiru.com/articles/01HSTAW2HD0MG6ZMZXMYBSHE99" class="midashi" target="_blank">オリゴ糖食品のおすすめ15選！無添加タイプや子どもと使える ...
      </a><br>
      <p class="snip">砂糖のカロリー1g当たり約4kcalに対し、オリゴ糖は1g当たり約2kcalなので、砂糖に<br>
        比べるとカロリーは半分ほど。その分甘さも控えめとなっています。 また ... </p>
    </div>

  </div>


</body>

</html>