<!DOCTYPE html>
<html lang="ja">

  <head>
    <link rel="stylesheet" href="g2_design.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </head>


<body>
  

  <div class="entire_site">


    <h5>
      5分が経過したらお声掛けいたします。<br>
      その後、横の「次のページへ」ボタンを押してください。
      <a href="g2_page_1_3.html" class="btn btn-primary">次のページへ</a><br>
    </h5>

    <form id="search-form">
      <input type="text" id="query" placeholder="アセロラ　体調管理　効果">
      <input type="submit">
    </form><br>

    
    <div class="reliability_box">
      <div class="site_hover">
        <img src="trust.png">  <!-- ここのみ変更 -->
        <div class="hover-text">
          正確性 : 5 <br>
          権威 : 4 <br>
          網羅性 : 4 <br>
          情報鮮度 : 3 <br>
          客観性 : 4 <br>
          信用性 : 5 <br>
          専門性 : 4
        </div>
      </div>
      <div class="result_reliability">
        <a href="https://shop.sweetsvillage.com/blogs/knowledge/acerola-juice-effects?srsltid=AfmBOoqAPUpQ81i8N_MMlr7IHV2ZkgnEwrpnt8BXbJLYBJXwbf_gmOAy" class="midashi" target="_blank">アセロラ ジュース 効果
        </a><br>
        <p class="snip">新鮮なアセロラジュースは、ビタミンCを豊富に含み、抗酸化作用に優れていま<br>
        す。体調管理や美容にも良い影響があるため、ダイエットや健康志向の方に注目...</p>
    </div>
  </div>

    

  <div class="site_box">
    <a href="https://prtimes.jp/main/html/rd/p/000000081.000079554.html" class="midashi" target="_blank">“アセロラ×運動”の相乗効果に期待！ヒトを介して ...</a><br>
    <p class="snip">アセロラ摂取+運動併用群の握力の向上が認められ、血中の抗酸化力を表す<br>
    「BAPテスト」の数値が有意に向上しました。ヒトを介して、アセロラの血中の抗酸化 ...</p>
  </div>



    <div class="reliability_box">
      <div class="site_hover">
        <img src="stop.png">  <!-- ここのみ変更 -->
        <div class="hover-text">
          正確性 : 4 <br>
          権威 : 3 <br>
          網羅性 : 4 <br>
          情報鮮度 : 2 <br>
          <font color="red"> 客観性 : ？ </font><br>
          信用性 : 5 <br>
          専門性 : 4
        </div>
      </div>
      <div class="result_reliability">
        <a href="https://www.womenshealthmag.com/jp/food/a40212353/acerola-20220628/" class="midashi" target="_blank">アセロラ効果で健康＆美容！ ビタミンCが豊富な ...      </a><br>
        <p class="snip">アセロラってどんな食べ物？ 特徴は？ · アセロラの効果は絶大！ 体にやさしい<br>
        ビタミンCを多く含むって本当？ · おすすめのアセロラジュース3選 · おすすめの ...</p>
      </div>
    </div>

    <div class="site_box">
      <a href="https://mart-magazine.com/food-recipe/ingredient/143671/" class="midashi" target="_blank">【スーパーフード】カラダが整う「アセロラの力」を知ってい ...
      </a><br>
      <p class="snip">レモン果汁の34倍のビタミンC＆抜群の抗酸化力！ビタミンC. アセロラの力と<br>
      は？ きれいはもちろん体を元気にしてくれるスーパーフード. 「一 ...</p>
    </div>

    <div class="site_box">
      <a href="https://beauty.hotpepper.jp/slnH000526705/blog/bidA043910634.html" class="midashi" target="_blank">女性だけでなく男性にも嬉しいアセロラの効果
      </a><br>
      <p class="snip">強いストレスがあると不足しやすくなります。 アセロラは、ビタミンCが豊富な<br>
        ので、ストレスフルな日が続く時は積極的に取り入れてあげてストレス対策をし ...</p>
    </div>

    <div class="site_box">
      <a href="https://sports.yahoo.co.jp/column/detail/2023090200001-spnavido" class="midashi" target="_blank">アセロラの驚くべき効果効能 - スポーツナビ - Yahoo! JAPAN
      </a><br>
      <p class="snip">ビタミンCには美肌作りには欠かせないコラーゲンの合成を助ける働きがありま<br>
        す。さらに、抗ストレスホルモンの生成と関連があるとされ、毎日欠かさずに ...</p>
    </div>

    <div class="site_box">
      <a href="https://plus.nightprotein.jp/articles/263" class="midashi" target="_blank">【ビタミンCの王様！？】アセロラとは？6つの効果と効果的 ...
      </a><br>
      <p class="snip">風邪を予防したい・寒い時期の体調管理が気になる方は、アセロラジュースやサ<br>
        プリメントを使って手軽にビタミンCを取り入れましょう。 5.血圧の低下.</p>
    </div>

    <div class="site_box">
      <a href="https://www.4193honpo.jp/item/acerola/" class="midashi" target="_blank">ビタミンCの王様！アセロラ100
      </a><br>
      <p class="snip">アセロラは”ビタミンCの王様”と呼ばれるほど果物の中で圧倒的に多くのビタミンCを含んでいる<br>
        真っ赤な果実です。 ビタミンCは、皮膚や粘膜の健康維持を助けるとともに、抗 ...</p>
    </div>

    <div class="site_box">
      <a href="https://himitsu.wakasa.jp/contents/acerola/" class="midashi" target="_blank">アセロラ | 成分情報 - わかさの秘密
      </a><br>
      <p class="snip">健康維持、美肌・美白効果に働きかけます。 アセロラの健康効果: ◎美肌・美<br>
        白効果 ◎ストレスをやわらげる効果 ◎貧血を予防する効果 ◎生活習慣病の ...</p>
    </div>

    <div class="site_box">
      <a href="https://www.frutafruta.com/blog/archives/790" class="midashi" target="_blank">風邪の引きはじめかな、と思ったら・・・ハニーアセロラ ...
      </a><br>
      <p class="snip">そんな時には、温かいハニーアセロラレモンがおすすめです！ 私もいま、仕事を<br>
        しながら飲んでいますよ！ 解凍した“アセロラパルプ”・ハチミツ・レモンをお湯 ...</p>
    </div>

  </div>


</body>

</html>