<!DOCTYPE html>
<html lang="ja">

  <head>
    <link rel="stylesheet" href="g1_design.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </head>


<body>
  

  <div class="entire_site">


    <h5>
      制限時間は5分になります。時間になったら、横の「次のページへ」ボタンを押してください。　　
      <a href="g1_page_1_3.html" class="btn btn-primary">次のページへ</a><br>
    </h5>

    <form id="search-form">
      <input type="text" id="query" placeholder="遺伝子組み換え食品　安全性">
      <input type="submit">
    </form><br>


    <div class="site_box">
      <a href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/kenkou_iryou/shokuhin/idenshi/anzen/anzen.html" class="midashi" target="_blank">遺伝子組換え食品の安全性に関する審査      </a><br>
      <p class="snip">組換えDNA技術応用食品・食品添加物（いわゆる「遺伝子組換え食品等」）の安全性を確保するため<br>
        に、遺伝子組換え食品等を輸入・販売する際には、必ず安全性審査を受ける必要があります。 審査を...</p>
    </div>

    

    <div class="site_box">
      <a href="https://www.mhlw.go.jp/topics/idenshi/dl/h22-00.pdf" class="midashi" target="_blank">遺伝子組換えとはなんですか?      </a><br>
      <p class="snip">日本で安全性が確認され、販売・流通が認められているのは、食品8作物（169品. 種）、添加物7種類<br>
        （15品目）です（2012年3月現在）。 作 物. 添加物. ○特定の除草剤で枯れない. ○特定の成分（オレイ...</p>
    </div>

    <div class="site_box">
      <a href="https://cbijapan.com/about_safety/health_safety/" class="midashi" target="_blank">遺伝子組み換え作物の健康への影響と安全性</a><br>
      <p class="snip">2023/06/15 — 健康への安全性. これまで20年以上、遺伝子組み換え (GM) 作物は食品や飼料として利用<br>
        されており、健康に悪影響を与えたと確認された事例は1例もありません。厳しい安全性審査を経た製...</p>
    </div>

    <div class="site_box">
      <a href="https://smartagri-jp.com/management/114" class="midashi" target="_blank">「遺伝子組み換え」の安全性とは？ なぜ賛否両論を巻き起こし ...      </a><br>
      <p class="snip">2023/01/12 — 大豆やとうもろこしなど、さまざまな作物で行われている遺伝子組み換え。国内ではいま<br>
        だ懸念の声が強いが、世界では確実に作付け面積が増えている。本記事では遺伝子組み換えの概要に...</p>
    </div>

    <div class="site_box">
      <a href="https://www.fsc.go.jp/sonota/5gou_2.pdf" class="midashi" target="_blank">遺伝子組換え食品の リスク評価を理解する。      </a><br>
      <p class="snip">遺伝子組換え食品の安全性は、これま. で食べられてきた従来品種との比較に. より評価されます。 つま<br>
        り、遺伝子組換えによって新たに加. えられたり、変えられたり、失われたりした. 形質などに...</p>
    </div>

    <div class="site_box">
      <a href="https://www.caa.go.jp/policies/policy/consumer_safety/food_safety/food_safety_portal/genetically_modified_food/" class="midashi" target="_blank">遺伝子組換え食品      </a><br>
      <p class="snip">2023/03/30 — 国内で流通している遺伝子組換え作物は、食品衛生法に基づく安全性審査を経ています。        <br>
        表示の対象となる農産物やそれを原料とした加工食品は9農産物33加工品群となります。 表 遺伝子組...</p>
    </div>

    <div class="site_box">
      <a href="https://cbijapan.com/faq/food/531/" class="midashi" target="_blank">遺伝子組み換え食品の安全性は、誰がどのように確認している ...      </a><br>
      <p class="snip">2024/05/09 — 遺伝子組み換え食品の安全性は、食品衛生法および食品安全基本法に基づいて、消費者庁        <br>
        と内閣府の食品安全委員会によって確認されています。まず、申請者は食品としての安全性を確認す...</p>
    </div>

    <div class="site_box">
      <a href="https://www.fsc.go.jp/senmon/idensi/" class="midashi" target="_blank">遺伝子組換え食品等専門調査会      </a><br>
      <p class="snip">食品安全委員会は、国民の健康の保護が最も重要であるという基本的認識の下、食品を摂取することに        <br>
        よる健康への悪影響について、科学的知見に基づき客観的かつ中立公正に評価を行う機関です。</p>
    </div>

    <div class="site_box">
      <a href="https://www.hokeniryo.metro.tokyo.lg.jp/shokuhin/idensi/seido.html" class="midashi" target="_blank">遺伝子組換え食品の制度 - 東京都保健医療局      </a><br>
      <p class="snip">遺伝子組換え食品の安全性は既存の食品との比較（実質的同等性）という観点から、以下のような項目        <br>
      についてチェックされています。 組み込む前の作物、組み込む遺伝子などはよく解明されたものか?... </p>
    </div>

    <div class="site_box">
      <a href="https://www.pref.tokushima.lg.jp/sp/FAQ/docs/00009560/" class="midashi" target="_blank">遺伝子組換え食品の安全性は確認されているのですか。 - 徳島県      </a><br>
      <p class="snip">遺伝子組換え食品の安全性の審査は、専門家により構成される内閣府食品安全委員会において科学的に        <br>
        実施されています。 安全性審査では、次の項目が審査されます。 (1)挿入された遺伝子は安全か。 (2)...</p>
    </div>

  </div>


</body>

</html>